<html>
<head>
    <link rel="stylesheet" href="./css/all.css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>
       <%=title%>
    </title>
    
</head> 
<body>

    <h1>This is the Profile Page</h1>
     <%=email %>



     <form action="signout"  method="get" >
       
        <input type="submit" value="SignOut" placeholder="SignOut" name="signout">

     </form>


     <section id='feedpost'>
      <h4>Post</h4>

   <form   action="/post" id="newpostform" method='post' enctype="text/plain"   style="margin-left: 10px">

    <textarea name="content"  cols="30" rows="3"></textarea>
 
   <input type="submit" value='post' id="submitpost">

   </form>
  </section>

   
  <div id="post-list-container">

   <ul>

       <%for(post of posts){ %>

        <li id='post-<%=post.id%>'      style="margin-top: 20px;"><%=post.content%> <br> by=<%=post.user.email%>  

          <a href="/del/?id=<%=post._id%>"    >  
              <button id="del" style="font-size: larger; color: red;" >*</button>
          </a>

        <div id="comment">
           <form action="comment" method="post" style="margin-left: 10px;">
            <input type="text" name='content' placeholder="AddComment">
            <input type="hidden" name='post' value="<%=post._id %>"  >
            <input type="submit" value="Add Comment">
           </form>
        </div>

       
      </li>


      <ul>
              
        
         <%for(comment of post.comments){%>

     <li> <div style="font-size: x-large; margin-top: 10px;"><%=comment.content%> <br><small>.....<%=post.user.email%></small></li>
           
           
         <%}%>
     </ul>







       <%}%>

        
       </ul>

        


</div>

 
<script type="text/javascript" src="/javascript/profile.js"></script>
 

</body>   
<html>